doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
  title Matt Sanford
  description Blog posts on a variety of topics
  link http://mzsanford.com/blog
  link(rel='self') http://mzsanford.com/feed.atom
  updated
  id http://mzsanford.com/blog
  author
    name Matt Sanford
    uri http://mzsanford.com

  each post in posts
    entry
      title= post.title
      published= post.date
      link= 'http://mzsanford.com/blog/' + post.name
      id= 'http://mzsanford.com/blog/' + post.name
      content(type='html')= post.snippet
      